body {
  padding: 0;
  margin: 0;
}

.site-topbar {
  position: relative;
   z-index: 30;
  height: 40px;
  font-size: 12px;
  background-color: #333;
}

.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

.site-topbar a {
  color: #b0b0b0;
  text-decoration: none;
}

.sep {
  color: #424242;
}

.topbar-nav {
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
}

.topbar-cart {
  align-items: center;
}

.topbar-cart {
  display: flex;
  background-color: #424242;
  text-align: center;
  color: #b0b0b0;
  float: right;
  line-height: 40px;
  width: 110px;
  margin-left: 25px;
  padding-left: 15px;
}

.topbar-info {
  display: inline-block;
  float: right;
  height: 40px;
  line-height: 40px;
}

.logo {
  float: left;
  padding-top: 22px;
  padding-bottom: 10px;
}

.header-nav {
  position: relative;
  display: inline-block;
  float: left;
  width: 820px;
  height: 88px;
  margin: 0 auto;
  padding: 12px 0 0 30px;
  font-size: 16px;
}

.header-nav li {
  float: left;
  list-style-type: none;
  margin: 10px;
}

.header-nav a {
  color: #333;
  text-decoration: none;
}

.none {
  position: relative;
  float: left;
  width: 80px;
  padding-right: 15px;
}

.home-header {
  position: absolute;
  top: 140px;
  height: 460px;
  width: 240px;
  border: 0;
  background-color: #b0b0b0;
  margin: 0px;
  padding-left: 10px;
}

.home-header li {
  list-style-type: none;
  height: 45px;
}

.home-header a {
  text-decoration: none;
  color: #fff;
}

.home .picture img {
  display: block;
  width: 1226px;
  height: 460px;
}

.span6 {
  
  width: 240px;
  float: left;
  margin-left: 0px;
  min-height: 1px;
}

.span6 ul {
  margin: 0;
  padding: 3px;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  background-color: #5f5750;
  height: 165px;
  width: 244px;
}

.span6 li {
  margin-top: 7px;
  margin-left: 3px;
  float: left;
  list-style-type: none;
  width: 70px;
  height: 82px;
  padding: 0 3px;
}

.span6 a {
  text-decoration: none;
  color: #b0b0b0;
}

.img3 img {
  width: 316px;
  height: 170px;
}

.img3 .i1 {
  margin-left: 20px;
}

.img3 .i2 {
  margin-left: 5px;
}

.img3 .i3 {
  margin-left: 3px;
}

.footer {
  margin-top: 10px;
}

.bkgd {
  background-color: #f5f5f5;
}

.title {
  font-size: 22px;
  font-weight: 200;
  padding-top: 30px;
}

.leave {
  margin-top: 40px;
}

.wntj img {
  width: 140px;
  margin-top: 25px;
}

.wntj ul {
  width: 1250px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.wntj li {
  margin-bottom: 14px;
  margin-right: 14px;
  margin-top: 0px;
  padding: 0px;
  float: left;
  height: 300px;
  width: 234px;
  background-color: #fff;
  text-align: center;
}

.wntj a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
}

.wntj .anniu {
  width: 75px;
  height: 25px;
  float: right;
  margin-top: 4px;
}

.wntj .money {
  font-size: 14px;
  color: #ff6700;
  margin-bottom: 16px;
  margin-top: 8px;
}

.wntj .pj {
  font-size: 14px;
  color: #757575;
}

.rpcp img {
  width: 296px;
  height: 220px;
}

.rpcp ul {
  margin: 0px;
  padding: 0px;
  height: 400px;
  list-style-type: none;
}

.rpcp li {
  float: left;
  width: 290px;
  height: 400px;
  margin-right: 16px;
  background-color: #fff;
}

.rpcp a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  text-align: right;
}

.rpcp .user {
  font-size: 12px;
  color: #757575;
  text-align: left;
  margin-top: 4px;
  margin-left: 20px;
}

.rpcp .money {
  font-size: 14px;
  color: #ff6700;
}

.rpcp .xx {
  float: left;
  margin-top: 6px;
  margin-left: 20px;
}

.words1 {
  text-align: left;
  padding: 30px 20px 25px 20px;
}

.sp ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 350px;
}

.sp img {
  width: 296px;
  height: 180px;
}

.sp li {
  float: left;
  width: 290x;
  height: 400x;
  margin-right: 10px;
  background-color: #fff;
}

.sp .words2 {
  margin-top: 20px;
  text-align: center;
  
}

.sp a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.sp .cc {
  color: #757575;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 30px;
}

.site-topbar a:hover {
  color: #fff;
}

.stite-header a:hover {
  color: #ff6700;
}

.span6 a:hover {
  color: #fff;
}

.bkgd li:hover {
  box-shadow: 0 15px 30px rgb(0,0,0,0.1);
  transform: translate3d(0,-2px,0);
}

.img3 img:hover {
  box-shadow: 0 15px 30px rgb(0,0,0,0.1);
  transform: translate3d(0,0,0);
}

.span5 {
  height: 55px;
  padding-top: 27px;
}

.span5 a {
  color: #616161;
  text-decoration: none;
  font-size: 16px;
}

.span5 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

 .nn {
  float: left;
  height: 25px;
  line-height: 25px;
  width: 19.8%;
  text-align: center;
  border-right-style: solid;
  border-right-color: #e0e0e0;
  border-right-width: 1px;
}

.span5 li {
  float: left;
  height: 25px;
  line-height: 25px;
  width: 19.8%;
  text-align: center;
}

.message {
  padding-top: 30px;
  height: 100px;
  font-size: 12px;
}

.logo2 {
  float: left;
  height: 80px;
  margin-right: 10px;
}

.message a {
  text-decoration: none;
}

.message .fc1 a {
  color: #757575;
}

.message .fc2 a {
  color: #b0b0b0;
}

.message .fc2 {
  color: #b0b0b0;
}

.message a:hover {
  color: #ff6700;
}