body {
  padding: 0;
  margin: 0;
}

.site-topbar {
  position: relative;
   z-index: 30;
  height: 40px;
  font-size: 12px;
  background-color: #333;
}

.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

.site-topbar a {
  color: #b0b0b0;
  text-decoration: none;
}

.sep {
  color: #424242;
}

.topbar-nav {
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
}

.topbar-cart {
  align-items: center;
}

.topbar-cart {
  display: flex;
  background-color: #424242;
  text-align: center;
  color: #b0b0b0;
  float: right;
  line-height: 40px;
  width: 110px;
  margin-left: 25px;
  padding-left: 15px;
}

.topbar-info {
  display: inline-block;
  float: right;
  height: 40px;
  line-height: 40px;
}

.logo {
  float: left;
  margin-top: 22px;
}

.header-nav {
  position: relative;
  display: inline-block;
  float: left;
  width: 820px;
  height: 88px;
  margin: 0 auto;
  padding: 12px 0 0 30px;
  font-size: 16px;
}

.header-nav li {
  float: left;
  list-style-type: none;
  margin: 10px;
}

.header-nav a {
  color: #333;
  text-decoration: none;
}

.none {
  position: relative;
  float: left;
  width: 80px;
  padding-right: 15px;
}

.header-search {
  position: relative;
  float: right;
  top: 15px;
}

.header-search input[type="text"]{
  height: 40px;
  width: 243px;
  border: 1px solid #e0e0e0;
}

.header-search input[type="text"]:hover{
  border: 1px solid #b0b0b0;
}

.header-search input[type="text"]:focus{
  outline: none;
}

.inside-words {
  position: absolute;
  font-size: 12px;
  right: 40px;
}

.inside-words a {
  background-color: #eee;
  color: #757575;
  padding: 3px 6px;
  position: relative;
  top: 35px;
  right: 20px;
  text-decoration: none;
}

.inside-words a:hover{
  background-color: rgba(255,103,0,0.98);
  color: white;
}

.header-search input[type="submit"]{
  height: 43px; width: 43px;
  background: url("images/sousuo.JPG") no-repeat 3px 6px;
  border: 1px solid #e0e0e0;
  position: relative;
  top: 16px;
  cursor: pointer;
  left: -6px;
}

.home-header {
  position: absolute;
  top: 140px;
  height: 460px;
  width: 240px;
  border: 0;
  background-color: #b0b0b0;
  margin: 0px;
  padding-left: 10px;
}

.home-header li {
  list-style-type: none;
  height: 45px;
}

.home-header a {
  text-decoration: none;
  color: #fff;
}

.home .picture img {
  display: block;
  width: 1226px;
  height: 460px;
}

.span6 {
  
  width: 240px;
  float: left;
  margin-left: 0px;
  min-height: 1px;
}

.span6 ul {
  margin: 0;
  padding: 3px;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  background-color: #5f5750;
  height: 160px;
  width: 244px;
}

.span6 li {
  position: relative;
  float: left;
  list-style-type: none;
  width: 70px;
  height: 82px;
  padding: 0 3px;
}

.span6 a {
  text-decoration: none;
  color: #fff;
}

.img3 img {
  width: 316px;
  height: 170px;
}

.img3 .i1 {
  margin-left: 20px;
}

.img3 .i2 {
  margin-left: 5px;
}

.img3 .i3 {
  margin-left: 3px;
}

.footer {
  margin-top: 10px;
}